*{margin:0px;padding:0px;}
#mapctl {
   /*margin-top:20px;*/
   width:100%;
   height:100%;
   overflow:hidden;
}

html,body {
	height:100%;
}

#head{
	position:relative;
	padding-bottom:0px;
	text-align:center;*z-index:1
	overflow:hidden;
}

#head .head_wrapper{
	height:55%;
}


.custom-control-LatLngInfo-line{
	background-color:#fff;
	opacity:0.8;
	color:black;
	font-size:14px;
	font-family:'Courier New';
	box-shadow: 0px 0px 17px #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.leaflet-control-geocoder-form{
	position:relative;
	box-shadow: 0px 0px 17px #999;
}

.leaflet-control-geocoder-span_iptwr{
	height:34px;
	width:181px;
	border:0px solid #b6b6b6;
	border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
	background:#fff;
	display:inline-block;
	vertical-align:top;
	border-right-width:0;
	border-color:#b8b8b8 transparent #ccc #b8b8b8;
	overflow:hidden;
}

.leaflet-control-geocoder-input{
	height:22px;
	width:auto;
	font:14px arial;
	line-height:22px\9;
	margin:6px 0 0 4px;
	padding-right:2px;
	background:transparent;
	border:0;
	outline:0;
}

.leaflet-control-geocoder-img{
	height:20px;
	width:20px;
	background: url(../image/camera_btn.png) no-repeat;
	background-position:0px 0px;
	cursor:pointer;
	border: none;
	alt:"Search Photo On Map";
}

.leaflet-control-geocoder-span_btwr{
	width:55px;
	height:34px;
}

.leaflet-control-geocoder-submit{
	width:60px;
	height:34px;
	color:white;
	font-size:14px;
	letter-spacing:2px;
	background:#3385ff;
	cursor:pointer;
	border:none;
}

/*photo*/
.leaflet-marker-photo { 
	border: 2px solid #fff; 
	box-shadow: 3px 3px 10px #888; 
}	

.leaflet-marker-photo div { 
    width: 100%;  
    height: 100%;
    background-size: cover;    
    background-position: center center;
    background-repeat: no-repeat;
}	

.leaflet-marker-photo b {
	position: absolute;
	top: -7px;
	right: -11px;
	color: #555;
	background-color: #fff;
	border-radius: 8px;
	height: 12px;
	min-width: 12px;
	line-height: 12px;
	text-align: center;
	padding: 3px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}