*{margin:0px;padding:0px;}
#mapctl {
   /*margin-top:20px;*/
   width:100%;
   height:100%;
   overflow:hidden;
}

html,body {
	height:100%;
}

#head{
	position:relative;
	padding-bottom:0px;
	text-align:center;*z-index:1
	overflow:hidden;
}

#head .head_wrapper{
	height:55%;
}


.custom-control-LatLngInfo-line{
	background-color:#fff;
	opacity:0.8;
	color:black;
	font-size:14px;
	font-family:'Courier New';
	box-shadow: 0px 0px 17px #999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.leaflet-control-geocoder-input{
	width:100%;
	height:22px;
	font:14px arial;
	line-height:22px\9;
	margin:6px 0 0 7px;
	padding:0;
	background:transparent;
	border:0;
	outline:0;
}

.leaflet-control-geocoder-form{
	position:relative;
	box-shadow: 0px 0px 17px #999;
}

.leaflet-control-geocoder-span_iptwr{
	height:34px;
	max-width:180px;
	border:0px solid #b6b6b6;
	border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
	background:#fff;
	display:inline-block;
	vertical-align:top;
	margin-right:0;
	border-right-width:0;
	border-color:#b8b8b8 transparent #ccc #b8b8b8;
	overflow:hidden;
}

.leaflet-control-geocoder-span_btwr{
	width:55px;
	height:34px;
}

.leaflet-control-geocoder-submit{
	width:60px;
	height:34px;
	color:white;
	font-size:14px;
	letter-spacing:2px;
	background:#3385ff;
	cursor:pointer;
	border:none;
}